{#- name: "worker_sbatch_script" -#}

{% if is_batch_worker %}
echo "Running batch worker."

. '{{ worker_script_path }}'
{% else %}
# In case more than 1 task is generated per slurm job
# we redirect output of each task to a separate file.
num_tasks="${SLURM_NTASKS:-${SLURM_JOB_NUM_NODES:-}}"
echo "Num tasks: ${num_tasks}"
if [[ "${num_tasks}" = "1" ]] ; then
    set -x
    srun /bin/bash '{{ worker_script_path }}'
else
    echo "Redirecting output."

    set -x
    srun --output '{{ work_dir }}/{{ name }}-%j-%t.out' /bin/bash '{{ worker_script_path }}'
fi
{% endif %}

{#- name: "worker_script" -#}

#!/bin/bash

. '/etc/profile'

{{ setup_script }}

set -Eeuo pipefail
set -x

{{ worker_exe }} \
    --group '{{ group }}' \
    --name '{{ name }}' \
    --actor-class-name '{{ actor_class_name }}' \
    --server-address '{{ server_address }}' \
    --work-dir '{{ work_dir }}' \
    --python-paths-json '{{ python_paths_json }}'
